* {
	margin: 0;
	padding: 0;
	font-family: Courier New;
	font-size: 14px;
}

/* Каждая секция — это один экран */
.lesson-section {
    position: relative; 
    min-height: 100vh; /* Минимум высота экрана */
    width: 100%;
    overflow: hidden;
    border-bottom: 2px solid #fff; /* Разделитель между уроками */
}

/* Контейнер для видео внутри секции */
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Уходит под текст именно этой секции */
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Контент внутри секции */
.mainContent {
    position: relative;
    z-index: 1; /* Текст над видео */
    padding: 20px;
}

.aboutContent.aboutWebsite {
    width: 800px;
    height: 110px;
    position: absolute;
    top: 20px;
    left: 900px;
    opacity: 0.6;
}

.aboutContent {
    width: 800px;
    height: 50px;
    display: flex;
	align-items: baseline;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px 0 10px 10px;
    padding: 5px 0 0 10px;
}

.lessonTitle {
	font-size: 24px;
	font-weight: bold;
}

.lessonDescription {
	margin: 0 0 0 10px;
}


.notes {
    /*border: 1px solid #ccc;
    border-radius: 5%;*/
}

.codeCpp {
	/*border: 1px solid green;
    border-radius: 5%;*/
}

.debugCodeCpp {
	/*border: 1px solid blue;
    border-radius: 5%;*/
}

.innerContent {
	margin: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	color: #88c0d0;
	background-color: #2e3440;
	opacity: 0.8;
}

.blockCodeLessonThree {
    width: 100%;
    height: 1000px;
}

.codeBlock {
    width: 100%;
    height: 1000px;
}
